<h2>Colors List</h2>

<table class="table">
     <thead>
          <tr>
               <th>Id</th>
               <th>Title</th>
               <th>Api Url</th>
               <th>Created Date</th>
          </tr>
     </thead>
     <tbody>
          <tr ng-if = "colors.length" ng-repeat = "data in colors | orderBy : 'id' : false">
               <td>{{data.id}}</td>
               <td>{{data.title}}</td>
               <td>{{data.apiUrl}}</td>
               <td>{{data.dateCreated | date:'medium'}}</td>
          </tr>
          <tr ng-if = "!colors.length">
               <td colspan="4">Loading....</td>
          </tr>
     </tbody>
</table>
